body {
    background-color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
    /* background-color: white; */
    width: 75%;
    margin: 0 auto; /* Centers nav horizontally */
    text-align: center;
}
.navTop {
    display: flex;
    justify-content: center; /* Centers the name and logo horizontally */
    gap: 20px; /* Adds space between the name and logo */
    align-items: center;
    padding: 3px 0;
}
.navTop h1 {
    color: rgb(247, 247, 247);
    font-size: 2rem;
}
.navBottom {
    display: flex;
    justify-content: center; /* Evenly spaces the links */
    gap: 125px;
    padding: 3px 0;
    position: relative;
    border-bottom: 1.5px solid black;
    width: 80%;
    margin: 0 auto;
}
.navBottom a {
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(153, 153, 153);
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
    display: inline-block;
    min-height: 40px; /* Set a minimum height to avoid layout shift */
    line-height: 40px; /* Ensure vertical alignment stays consistent */
    box-sizing: border-box; /* Ensures padding and borders don't affect element size */
}
.navBottom a:hover,
.navBottom a.active{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-size: 1.4 rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px 15px;
    background-color: rgba(153, 153, 153, 0.7);
}
.navBottom a:not(:hover):not(.active) {
    text-decoration: none;
    
}
.video-title {
    text-align: center; /* Centers the title */
    font-size: 1.5rem;
    margin-top: 35px; /* Adds some space above the title */
    margin-bottom: 10px; /* Adds space below the title */
    color: rgb(154, 153, 153);
}
.video-container {
    width: 60%; /* Width of the video container */
    max-width: 1000px;
    margin: 0 auto; /* Centers the video container */
    position: relative;
    padding-bottom: 0; /* This maintains a 16:9 aspect ratio */
    height: 60vh;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-height: 600px) {
    .video-container {
        width: 100%;
        padding-bottom: calc(100vh - 100px);
    }
}